studydemo/target/classes/restandhttp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<!-- http -->
	<flow name="http">
	    <http:inbound-endpoint keep-alive="false" address="http://localhost:8085/getUserById"
	        encoding="UTF-8"  exchange-pattern="request-response" doc:name="HTTP"
	         />
        <logger message="#[message]" level="INFO" doc:name="Logger"/>
	    <http:outbound-endpoint method="GET" keep-alive="false"
	        address="http://localhost:8080/spring-boot-api/user/getUserById?#[header:INBOUND:http.query.string]"  encoding="UTF-8"
	          exchange-pattern="request-response"
	        doc:name="HTTP"  />
	</flow>
	
	<!-- rest -->
	<flow name="rest">
	    <http:inbound-endpoint keep-alive="false" address="http://localhost:8085/getUserInfoById"
	        encoding="UTF-8"  exchange-pattern="request-response" doc:name="HTTP"
	         />
        <logger message="#[message]" level="INFO" doc:name="Logger"/>
	    <http:outbound-endpoint method="GET" keep-alive="false"
	        address="http://localhost:8080/spring-boot-api/user/getUserInfoById/#[header:INBOUND:http.relative.path]"  encoding="UTF-8"
	          exchange-pattern="request-response"
	        doc:name="HTTP"  />
	</flow>
</mule>
