studydemo/src/main/app/choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration2" host="0.0.0.0" port="8082" basePath="/study" doc:name="HTTP Listener Configuration"/>
    <flow name="studydemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/echo" doc:name="HTTP"/>
        <choice doc:name="Choice">
        	<when expression="#[message.inboundProperties.'http.query.params'.choice == 'mules']">
                <set-variable variableName="status" value="200" doc:name="Variable"/>
        	</when>
            <otherwise>
                <set-variable variableName="status" value="400" doc:name="Variable"/>
            </otherwise>
        </choice>
        
        <set-payload
 value="INFO: Choice = #[message.inboundProperties.'http.query.params'.choice], Status value is #[status]" doc:name="set payload"/>
        <echo-component doc:name="Echo"/>
        <logger message="payload------------&gt;#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
